.time{
  margin-top: 150px;
  font-size: 80px;
  text-align: center;
}
.btn-des{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-des button{
  font-size: 30px;
  padding: 20px;
  width: 150px;
  border-radius: 15px;
}